In [1]:
import pandas as pd

In [ ]:
Answer A:

In [2]:
df=pd.read_csv('Olympics.csv')

In [3]:
df.head()

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
Answer B:

In [7]:
l=['name','medal']
df[l]

                                  name medal
0                            A Dijiang   NaN
1                             A Lamusi   NaN
2                  Gunnar Nielsen Aaby   NaN
3                 Edgar Lindenau Aabye  Gold
4             Christine Jacoba Aaftink   NaN
..                                 ...   ...
95                Olav Augunson Aarnes   NaN
96                 Mika Lauri Aarnikka   NaN
97                 Mika Lauri Aarnikka   NaN
98  Jamale (Djamel-) Aarrass (Ahrass-)   NaN
99              Dagfinn Sverre Aarskog   NaN

[100 rows x 2 columns]

In [ ]:
Answer C:

In [10]:
df['name'].count()

100

In [ ]:
Answer D:

In [12]:
df[df['medal']=='Gold']

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,20,Kjetil Andr Aamodt,M,20,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
73,20,Kjetil Andr Aamodt,M,30,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Super G,Gold
76,20,Kjetil Andr Aamodt,M,30,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Combined,Gold
78,20,Kjetil Andr Aamodt,M,34,176.0,85.0,Norway,NOR,2006 Winter,2006,Winter,Torino,Alpine Skiing,Alpine Skiing Men's Super G,Gold
79,21,Ragnhild Margrethe Aamodt,F,27,163.0,NaN,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold

In [ ]:
Answer E:

In [14]:
df[df['medal']=='Silver'].sort_values(by='year')

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
86,25,Alf Lied Aanning,M,24,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"""Gymnastics Men's Team All-Around, Free System""",Silver
63,20,Kjetil Andr Aamodt,M,22,176.0,85.0,Norway,NOR,1994 Winter,1994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Downhill,Silver
67,20,Kjetil Andr Aamodt,M,22,176.0,85.0,Norway,NOR,1994 Winter,1994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Combined,Silver
92,30,Pepijn Aardewijn,M,26,189.0,72.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver

In [ ]:
Answer F:

In [22]:
countries=list(df['team'].unique())

In [23]:
countries

['China',
 'Denmark',
 'Denmark/Sweden',
 'Netherlands',
 'United States',
 'Finland',
 'Norway',
 'Romania',
 'Estonia',
 'France']

In [43]:
for country in countries:
    df[df['team']==country]
    df2=df[df['team']==country]
    gold=df2[df2['medal']=='Gold']['medal'].count()
    silver=df2[df2['medal']=='Silver']['medal'].count()
    bronze=df2[df2['medal']=='Bronze']['medal'].count()
    print(f'{country}:\n{gold} gold medals, {silver} silver medals, {bronze} bronze medals\n')

China:
0 gold medals, 0 silver medals, 0 bronze medals

Denmark:
0 gold medals, 0 silver medals, 0 bronze medals

Denmark/Sweden:
1 gold medals, 0 silver medals, 0 bronze medals

Netherlands:
0 gold medals, 1 silver medals, 1 bronze medals

United States:
0 gold medals, 0 silver medals, 0 bronze medals

Finland:
3 gold medals, 0 silver medals, 5 bronze medals

Norway:
5 gold medals, 3 silver medals, 2 bronze medals

Romania:
0 gold medals, 0 silver medals, 0 bronze medals

Estonia:
0 gold medals, 0 silver medals, 0 bronze medals

France:
0 gold medals, 0 silver medals, 0 bronze medals

In [29]:
Answer G:

From Answer F, it's clear that no country has won more than 50 gold medals

In [ ]:
Answer H:

In [49]:
df.head()

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
There is no population column!

In [ ]:
Answer I

In [55]:
names=list(df['name'].unique())

In [71]:
athelete_medal_data=[]
for name in names:
    medal_count=df[df['name']==name]['medal'].count()
    data={
        'name':name,
        'medal_count':medal_count
    }
    athelete_medal_data.append(data)
    print(f'{name}: {medal_count} medals\n')

A Dijiang: 0 medals

A Lamusi: 0 medals

Gunnar Nielsen Aaby: 0 medals

Edgar Lindenau Aabye: 1 medals

Christine Jacoba Aaftink: 0 medals

Per Knut Aaland: 0 medals

John Aalberg: 0 medals

Cornelia \Cor\" Aalten (-Strannood)": 0 medals

Antti Sami Aalto: 0 medals

Einar Ferdinand \Einari\" Aalto": 0 medals

Jorma Ilmari Aalto: 0 medals

Jyri Tapani Aalto: 0 medals

Minna Maarit Aalto: 0 medals

Pirjo Hannele Aalto (Mattila-): 0 medals

Arvo Ossian Aaltonen: 2 medals

Juhamatti Tapio Aaltonen: 1 medals

Paavo Johannes Aaltonen: 5 medals

Timo Antero Aaltonen: 0 medals

Win Valdemar Aaltonen: 0 medals

Kjetil Andr Aamodt: 8 medals

Ragnhild Margrethe Aamodt: 1 medals

Andreea Aanei: 0 medals

Fritz Aanes: 0 medals

Nils Egil Aaness: 0 medals

Alf Lied Aanning: 1 medals

Agnes Erika Aanonsen (-Eyde): 0 medals

Johan Aantjes: 0 medals

Jan-Erik Aarberg: 0 medals

Willemien Aardenburg: 1 medals

Pepijn Aardewijn: 1 medals

Evald rma (rman-): 0 medals

Olav Augunson Aarnes: 0 medals

Mika Lauri Aarnikka: 0 medals

Jamale (Djamel-) Aarrass (Ahrass-): 0 medals

Dagfinn Sverre Aarskog: 0 medals

In [ ]:
From above its clear that Kjetil Andr Aamodt has won 8 medals

In [ ]:
Answer J:

In [81]:
events=list(df['event'].unique())

In [83]:
events

["Basketball Men's Basketball",
 "Judo Men's Extra-Lightweight",
 "Football Men's Football",
 "Tug-Of-War Men's Tug-Of-War",
 "Speed Skating Women's 500 metres",
 '"Speed Skating Women\'s 1,000 metres"',
 "Cross Country Skiing Men's 10 kilometres",
 "Cross Country Skiing Men's 50 kilometres",
 "Cross Country Skiing Men's 10/15 kilometres Pursuit",
 "Cross Country Skiing Men's 4 x 10 kilometres Relay",
 "Cross Country Skiing Men's 30 kilometres",
 "Athletics Women's 100 metres",
 "Athletics Women's 4 x 100 metres Relay",
 "Ice Hockey Men's Ice Hockey",
 "Swimming Men's 400 metres Freestyle",
 "Badminton Men's Singles",
 "Sailing Women's Windsurfer",
 "Biathlon Women's 7.5 kilometres Sprint",
 "Swimming Men's 200 metres Breaststroke",
 "Swimming Men's 400 metres Breaststroke",
 "Gymnastics Men's Individual All-Around",
 "Gymnastics Men's Team All-Around",
 "Gymnastics Men's Floor Exercise",
 "Gymnastics Men's Horse Vault",
 "Gymnastics Men's Parallel Bars",
 "Gymnastics Men's Horizontal Bar",
 "Gymnastics Men's Rings",
 "Gymnastics Men's Pommelled Horse",
 "Athletics Men's Shot Put",
 '"Art Competitions Mixed Sculpturing, Unknown Event"',
 "Alpine Skiing Men's Downhill",
 "Alpine Skiing Men's Super G",
 "Alpine Skiing Men's Giant Slalom",
 "Alpine Skiing Men's Slalom",
 "Alpine Skiing Men's Combined",
 "Handball Women's Handball",
 "Weightlifting Women's Super-Heavyweight",
 '"Wrestling Men\'s Light-Heavyweight, Greco-Roman"',
 "Speed Skating Men's 500 metres",
 '"Speed Skating Men\'s 1,500 metres"',
 '"Gymnastics Men\'s Team All-Around, Free System"',
 "Luge Women's Singles",
 "Water Polo Men's Water Polo",
 'Sailing Mixed Three Person Keelboat',
 "Hockey Women's Hockey",
 "Rowing Men's Lightweight Double Sculls",
 "Athletics Men's Pole Vault",
 "Athletics Men's High Jump",
 "Sailing Men's Two Person Dinghy",
 '"Athletics Men\'s 1,500 metres"',
 "Bobsleigh Men's Four"]

In [82]:
for event in events:
    if 'Freestyle' in event:
        print(event)

Swimming Men's 400 metres Freestyle

In [ ]:
Answer K:

In [87]:
sports=list(df['sport'].unique())

In [88]:
sports

['Basketball',
 'Judo',
 'Football',
 'Tug-Of-War',
 'Speed Skating',
 'Cross Country Skiing',
 'Athletics',
 'Ice Hockey',
 'Swimming',
 'Badminton',
 'Sailing',
 'Biathlon',
 'Gymnastics',
 'Art Competitions',
 'Alpine Skiing',
 'Handball',
 'Weightlifting',
 'Wrestling',
 'Luge',
 'Water Polo',
 'Hockey',
 'Rowing',
 'Bobsleigh']

In [100]:
for sport in sports:
    names=list(df[df['sport']==sport]['name'].unique())
    print(f'Atheletes participated in {sport} are:')
    for name in names:
        medals=df[df['name']==name]['medal'].count()
        print(f'{name} has won {medals} medals\n')

Atheletes participated in Basketball are:
A Dijiang has won 0 medals

Atheletes participated in Judo are:
A Lamusi has won 0 medals

Atheletes participated in Football are:
Gunnar Nielsen Aaby has won 0 medals

Atheletes participated in Tug-Of-War are:
Edgar Lindenau Aabye has won 1 medals

Atheletes participated in Speed Skating are:
Christine Jacoba Aaftink has won 0 medals

Nils Egil Aaness has won 0 medals

Atheletes participated in Cross Country Skiing are:
Per Knut Aaland has won 0 medals

John Aalberg has won 0 medals

Jorma Ilmari Aalto has won 0 medals

Atheletes participated in Athletics are:
Cornelia \Cor\" Aalten (-Strannood)" has won 0 medals

Timo Antero Aaltonen has won 0 medals

Evald rma (rman-) has won 0 medals

Olav Augunson Aarnes has won 0 medals

Jamale (Djamel-) Aarrass (Ahrass-) has won 0 medals

Atheletes participated in Ice Hockey are:
Antti Sami Aalto has won 0 medals

Juhamatti Tapio Aaltonen has won 1 medals

Atheletes participated in Swimming are:
Einar Ferdinand \Einari\" Aalto" has won 0 medals

Arvo Ossian Aaltonen has won 2 medals

Atheletes participated in Badminton are:
Jyri Tapani Aalto has won 0 medals

Atheletes participated in Sailing are:
Minna Maarit Aalto has won 0 medals

Jan-Erik Aarberg has won 0 medals

Mika Lauri Aarnikka has won 0 medals

Atheletes participated in Biathlon are:
Pirjo Hannele Aalto (Mattila-) has won 0 medals

Atheletes participated in Gymnastics are:
Paavo Johannes Aaltonen has won 5 medals

Alf Lied Aanning has won 1 medals

Atheletes participated in Art Competitions are:
Win Valdemar Aaltonen has won 0 medals

Atheletes participated in Alpine Skiing are:
Kjetil Andr Aamodt has won 8 medals

Atheletes participated in Handball are:
Ragnhild Margrethe Aamodt has won 1 medals

Atheletes participated in Weightlifting are:
Andreea Aanei has won 0 medals

Atheletes participated in Wrestling are:
Fritz Aanes has won 0 medals

Atheletes participated in Luge are:
Agnes Erika Aanonsen (-Eyde) has won 0 medals

Atheletes participated in Water Polo are:
Johan Aantjes has won 0 medals

Atheletes participated in Hockey are:
Willemien Aardenburg has won 1 medals

Atheletes participated in Rowing are:
Pepijn Aardewijn has won 1 medals

Atheletes participated in Bobsleigh are:
Dagfinn Sverre Aarskog has won 0 medals

In [ ]:
Answer L:

In [124]:
years=list(df.year.unique())
years.sort()

In [123]:
for year in years:
    names=list(df[df['year']==year]['name'].unique())
    df2=df[df['year']==year]
    for name in names:
        medals=df2[df2['name']==name]['medal'].count()
        if medals>1:
            print(f'{name} has won more than 1 medal in the year {year}\n')

Kjetil Andr Aamodt has won more than 1 medal in the year 1992

Arvo Ossian Aaltonen has won more than 1 medal in the year 1920

Kjetil Andr Aamodt has won more than 1 medal in the year 1994

Kjetil Andr Aamodt has won more than 1 medal in the year 2002

Paavo Johannes Aaltonen has won more than 1 medal in the year 1948

In [ ]:
Answer M:

In [137]:
gold_df=df[df['medal']=='Gold']
gold_df

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,20,Kjetil Andr Aamodt,M,20,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
73,20,Kjetil Andr Aamodt,M,30,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Super G,Gold
76,20,Kjetil Andr Aamodt,M,30,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Combined,Gold
78,20,Kjetil Andr Aamodt,M,34,176.0,85.0,Norway,NOR,2006 Winter,2006,Winter,Torino,Alpine Skiing,Alpine Skiing Men's Super G,Gold
79,21,Ragnhild Margrethe Aamodt,F,27,163.0,NaN,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold

In [134]:
summer_countries=list(gold_df[gold_df['season']=='Summer']['team'].unique())

In [138]:
winter_countries=list(gold_df[gold_df['season']=='Winter']['team'].unique())

In [139]:
for country in summer_countries:
    if country in winter_countries:
        print(f'{country} has won gold in both summer and winter olympics')

Norway has won gold in both summer and winter olympics

In [ ]:
Answer S:

In [140]:
countries=df['team'].unique()

In [141]:
countries

array(['China', 'Denmark', 'Denmark/Sweden', 'Netherlands',
       'United States', 'Finland', 'Norway', 'Romania', 'Estonia',
       'France'], dtype=object)

In [146]:
for country in countries:
    sports=df[df['team']==country]['sport'].count()
    if sports >10:
        print(f'{country} has won medals in more than 10 different sports\n')

Netherlands has won medals in more than 10 different sports

United States has won medals in more than 10 different sports

Finland has won medals in more than 10 different sports

Norway has won medals in more than 10 different sports

In [ ]:
Answer O:

In [147]:
countries

array(['China', 'Denmark', 'Denmark/Sweden', 'Netherlands',
       'United States', 'Finland', 'Norway', 'Romania', 'Estonia',
       'France'], dtype=object)

In [150]:
for country in countries:
    df2=df[df['team']==country]
    medals=df2['medal'].count()
    names=df2['name'].count()
    print(f'The average number of medals won by {country} per athelete is {medals/names}\n')

The average number of medals won by China per athelete is 0.0

The average number of medals won by Denmark per athelete is 0.0

The average number of medals won by Denmark/Sweden per athelete is 1.0

The average number of medals won by Netherlands per athelete is 0.16666666666666666

The average number of medals won by United States per athelete is 0.0

The average number of medals won by Finland per athelete is 0.24242424242424243

The average number of medals won by Norway per athelete is 0.3125

The average number of medals won by Romania per athelete is 0.0

The average number of medals won by Estonia per athelete is 0.0

The average number of medals won by France per athelete is 0.0